.dcharts {
  width: 100%;
  height: 100%;
}
.dcharts > div {
  height: 400px;
}
.dcharts .bar,
.dcharts .force,
.dcharts .lines {
  flex: 1;
  height: 400px;
}
.dcharts .bar .charts,
.dcharts .force .charts,
.dcharts .lines .charts {
  width: 100%;
  height: 300px;
  margin: auto;
}
.dcharts .bar button,
.dcharts .force button,
.dcharts .lines button {
  margin-left: 40px;
}
