.dcharts{
    width:100%;
    height:100%;
    display:flex;
    .bar{
        flex:1;
        height:400px;
        .cylinder{
            width:100%;
            height:300px;
            margin:auto;
        }
        button{
            margin-left:40px;
        }
    }
    .force{
        flex:1;
        .forcecharts{
            width:100%;
            height:300px;
            margin:auto;
        }
    }
}